@font-face {
	font-family: 'proximaNova';
	src: 
		local('Proxima Nova Reg'),
		url('../../../public/fonts/proxima_nova_regular.ttf') 
		format('truetype');
}

@font-face {
	font-family: 'proximaNovaBold';
	src: 
		local('Proxima Nova Bold'),
		url('../../../public/fonts/proxima_nova_bold.ttf') 
		format('truetype');
}