$blue: #1E5F86;
$body-bg: #ffffff;

$card-bg: #fafafa;

$font-family-sans-serif: "Lato", "Segoe UI", Helvetica, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;