@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://www.fontify.me/wf/80793f033445fe42e7885f60844afb88');

$family-sans-serif: font133292, "Ubuntu", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

/**
 * Import the base Bulma variables.
 */

@import "node_modules/bulma/sass/utilities/initial-variables";

/**
 * Colors
 */

$primary: #1E5F86;
$warning: $orange;

/**
 * Import Bulma
 */

@import "node_modules/bulma/bulma";
@import "select2-bulma.scss";

/**
 * Body Changes
 */

body {
	-webkit-font-smoothing: antialiased;
}

/**
 * Font
 */

.is-subtitle {
	font-weight: bold !important;
}

/**
 * Button Styling
 */

.button {
	height: 100%;
	min-height: 2rem;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: $weight-bold;
	border-width: 2px;
	padding: .5rem 1.5rem !important;
}

/**
 * Inputs
 */

.field:not(:last-child) {
	margin-bottom: 1.3rem;
}

.input {
	color: $grey;
	border-radius: 0;
	height: 42px;
	padding: 0 15px;
}

.textarea {
	border-radius: 0;
}

/**
 * Checkbox & Radio Adjustments
 */

.checkbox, .radio {
	vertical-align: top;
	margin-right: 20px;
}

input[type=checkbox], input[type=radio] {
	margin-right: 5px;
}

/**
 * Navbars
 */

.navbar {
	border-bottom: 1px solid $grey-lighter;
}

.navbar-header {
	color: $grey-light;
	display: block;
	line-height: 1.5;
	padding: 0.5rem 1rem;
	position: relative;
	font-weight: $weight-bold;
	font-size: $size-small;
	text-transform: uppercase;
}

.is-fullwidth {
	margin-bottom: 0.5rem;
}

.is-fullwidth:last-child {
	margin-bottom: 0;
}

.breadcrumb {
	margin-bottom: 0 !important;
}

.has-divider {
	padding-bottom: 4rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid $grey-lighter;
}

.has-line {
	border-bottom: 1px solid $grey-lighter;
	padding-bottom: 1rem;
}

.is-error {
	color: $danger;
}

.is-errors-title {
	padding-bottom: 1rem;
}

.is-flash-message {
	position: fixed;
	bottom: 4rem;
	right: 2rem;
	z-index: 99999999;
}

dt {
	color: $grey-dark;
}

dd {
	margin-bottom: 0.7rem;
	color: $grey;
}

/**
 * Layouts
 */
.section {
	background-color: inherit;
}
.side-nav .section {
	padding-left: 3rem;
	border-bottom: 1px solid $white-ter;
}
.side-nav aside {
	padding-right: 1rem;
}
.column.is-faded {
	margin-top: -35px;
	background: linear-gradient(to right, $white-ter, $white 20px);
}